# 제외할 폴더
.git/
.gradle/
.idea/
.settings/
bin/
build/
logs/
gradle/

# 파일 제외
# .classpath
# .project
# local.properties
# settings.gradle


# !src/main/java/
# src/main/java/*
# !src/main/java/java24/

# !src/main/resources/
# src/main/resources/*
# !src/main/resources/*.xml
# !src/main/resources/*.properties
# !src/main/resources/java24/

# !src/test/java/
# src/test/java/*
# !src/test/java/java24/
/gradle
